html, body {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    overflow: hidden;
    background-color: darkcyan;
  }
  
  article {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
  }
  
  main {
    flex-grow: 1;
  }
  
  header, main, footer {
    flex-shrink: 0;
  }

  p {
    border-style: inset;
    width: 50%;
    height: 5px;
    margin: 2px;
    padding-bottom: 15px;
  }

  a {
    text-decoration: none;
    color: rgb(233, 231, 231);
  }
/*explorer window*/
#maincontents, #maincontents2, #maincontents3 {
    background-color: darkgrey;
    border-style: outset;
    border-color: darkgrey;
    position: absolute;
  }

  #maincontents{
    margin-left: 40vw;
    min-width: 900px;
    max-width: 1000px;
    z-index: 0;
    display: flex;
    flex-direction: column;
  }

  #maincontents2{
    margin: 500px 550px;
    width: 200px;
    z-index:2;
  }

  #maincontents3 {
    margin:  100px 0px 0px 200px;
    width: 400px;
    z-index: 1;
  }

  #mch2 {
    background-image: linear-gradient(to right, darkgreen, white);
}

#maincontentsheader, #mch3, #mch2 {
    margin: 4px;
    background-color: darkblue;
    padding: 3px 0px 3px 3px;
    color: rgb(233, 231, 231);
}

#navbox { 
    display: flex;
    flex-direction: column;
    width: 95%;
    background-color:lightgrey;
}

#navbox-info {
    border: outset 2px;
    border-top: none;
    padding: 2px;
    text-indent: 15px;
    font-size: 14px;
    overflow-x: hidden;
    background-color: lightgrey;
}

#navbar{
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    z-index: 0;
    width: 100%;
}


a#navbox-button {
    color: black;
}

a#navbox-button:hover {
  background-color: darkblue;
  color: white;
}

a#navbox-button-2:hover {
  background-color: darkblue;
  color: white;
}

a#navbox-button-home:hover {
  background-color: darkblue;
  color: white;
}

#navbox-button, #navbox-button-home {
    color: black;
    border: outset 2px;
    border-bottom: none;
    padding: 5px;
    z-index: 1;
    max-width: 60px;
    font-size: 15px;
    margin-bottom: 0px;
    }



#navbox-button-2{
    color: black;
    border: outset 2px;
    border-bottom: inset 2px;
    padding: 5px;
    z-index: 0;
    font-size: 15px;
}

#bar {
    padding: 5px 10px;
}

#bar1 {
    border: outset 2px;
    margin: 5px;
}

.barbtn {
    width: 35px;
    border: outset 2px;
    padding: 2px;
    margin: 0px 1px;
}
.smallbtn {
    padding: 1px 6px;
    margin: 0px 1px;
    float: right;  
    border-style: outset;
    border-width: 3px;
    border-color: rgb(233, 231, 231);
    background-color:lightgrey;
}

.chattop {
    display: flex;
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-style: inset;
}

#editpad-border{
  border-top: outset 2px;
  margin-left: 85px;
}

.content{
    background-color: white;
    margin: 5px;
    padding: 5px;
    padding-top: 0px;
    border: inset 5px;
    height: 700px;
    overflow: auto
    z-index: 0;
}

.content2 {
    background-color: lightgrey;
    margin: 0px 1px 1px;
    border: inset;
    height: 250px;
    padding: 5px;
    overflow-x: hidden;
}

.content3 {
    background-color: lightgrey;
    margin: 0px;
    border: inset;
    height: 540px;
    overflow: hidden;
    padding: 5px;
}

.bottom, .bottom2 {
    display: flex;
    flex-direction: row;
  }

.bottom1 {
    border-style: inset;
    flex: auto;
    text-align: right;
    width: 300px
  }


  .bottom1:last-child {
    width: 1000px;
  }

/* end explorer window */

#footer {
    background-color: darkgray;
    border-style: outset;
    display:flex;
    padding: 2px;
    height: 45px;
  }

  .dropbtn {
    background-color: darkgrey;
    margin: 2px;
    font-size: 16px;
    border: outset;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .dropbtn:hover {
    border-style: inset;
    background-color: rgb(233, 231, 231);
  }

  span {
    padding-top: 5px;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    min-width: 160px;
    bottom: 48px;
    z-index: 1;
    border-color: rgb(131, 131, 131);
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {
    background-color: darkblue;
    color: rgb(233, 231, 231);
}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: darkgrey;
  }

  #clock {
    padding-left: 10px;
    margin: 2px 6px 0px 87%;
    width: 130px;
    border-style: inset;
  }

  #statuscafe {
    background-color: darkgray;
    border: inset;
}
#statuscafe-username {
    margin-bottom: .2em;
    background-color:  rgb(131, 131, 131);
    color: rgb(233, 231, 231);
    padding: 10px;

}
#statuscafe-content {
    background-color: white;
    width: 170px;
    height: 95px;
    text-align: center;
    margin: 5px;
}

.chatbox {
    border-style: inset;
    border-width: 3px;
    height: 340px;
}

.chaticons {
     width: 25px;
     margin: 5px;
     padding:2px;
     border: outset;
}
.chaticons:hover {
    background-color: darkgrey;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
  border: solid 1px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border: outset 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}