body {
    background: linear-gradient(360deg, rgba(157,99,129,1) 0%, rgba(253,236,239,1) 61%);
    background-color: rgba(157,99,129,1);
    background-repeat: no-repeat;
    width: 900px;
    margin-left: 25%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
    

#header {
    height: 70%;
    background-color: #9D6381;
    color: white;
    border:  dotted 1px #0F110C;
    height: 150px;
    
}


#maincontent {
    max-height: 800px;
    padding: 0px 15px;
    overflow: scroll;
    scrollbar-color: #612940;
    scrollbar-width: thin;
}


.post {
    background-color: white;
    background-image: url(images/background-white2.png);
    border: solid 1px #0F110C;
    min-height: 100px;
    padding: 10px;
    
}

.food {
    height: 250px;
    mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-right: 90px;
}

.ingredients {   
    float: right;
    position: absolute;
    z-index: 2;
    margin: -252px 0px 0px 280px;
    height: 230px;
}

.ingredients, .recipe {
    background-color: rgba(253,236,239,.5); 
    padding: 5px;
    border: dotted 1px #9d6381; 
    outline: dotted 2px #0F110C; 
    outline-offset:-5px;
    line-height: 15px;
}

h1 {
    font-size: larger;
    border-bottom: dotted 1px #9D6381;
    text-decoration: none;
}

h2 {
    font-size: large;
    font-weight: bold;
    background: rgb(97,41,64);
    background: linear-gradient(90deg, rgba(97,41,64,1) 0%, rgba(97,41,64,0) 100%);
    color: #CECCCC;
    padding: 0px 5px;
    margin: 0px;
}

#sidebar {
    
    background: linear-gradient(360deg, rgba(157,99,129,.2) 2%, rgba(157,99,129,1) 94%, rgba(97,41,64,1) 100%);
    padding: 20px;
    text-align: center;
    border: dotted 1px #0F110C;
    font-variant: small-caps;
    max-width: 150px;
}
    

#maincontent,#post, #sidebar {
    vertical-align: top;
    
}



.contentbox {
    background-color: #FFF;
    background-image: url(images/background-white2.png);
    height: auto;
    border: solid 1px #0F110C;
    padding: 15px;
    margin: 15px 0px 15px;
}


.aboutme {
    padding: 5px;
    font-variant: small-caps;
}

.antipixel {
    border-top: dotted 1px #9D6381;
    padding: 20px 5px 0px;
}

marquee {
    -webkit-box-shadow: 0 0 10px #FFF inset;
        box-shadow: 0 0 10px #CECCCC inset;
    
}

a {
    text-decoration: none;
    color: #9d6381;
}

p{
    line-height: 30px;
}

button {
    border: solid 1px #0F110C;
    background-color: #FDECEF;
    font-weight: bold;
    width: 100%;
    height: 30px;
}

#navigation {
    padding: 10px;
    margin-left: -7px;
    border: dotted 1px #FDECEF; 
    outline: dotted 2px #cecccc; 
    outline-offset:-5px; 
}


.categories {
    width: 140px; 
    height: 45px;
    margin: 5px 0px;

}



#statuscafe-username {
    margin-bottom: .5em;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}
